body {
	/* background-color: #f2f2f2; */
	font-family: roboto, Helvetica, sans-serif;
	/* padding-top: 100px; */
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 1.4rem;
}

html{
	font-size: 60%;
	width: 100%;
	height: 100%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.container__item{
	margin: 0 auto 0;
}

.landing-page-container{
	width: 100%;
	min-height: 100%;
	height: 100vh;
	/* background-color: #FFF transparent; */
	background-image: url(sea-adventure.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: table;
	font-family: roboto, Helvetica, sans-serif;
	color: #FFF;
	
   
}

.content-wrapper{
	max-width: 1200px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	
}

.header{
	width: 100%;
	height: 2rem;
	padding: 3rem 0;
	display: block;
	
}

.menu-icon{
	width: 2.5rem;
	height: 1.5rem;
	display: inline-block;
	cursor: pointer;
	
}

.header-item{
	display: inline-block;
	float: left;
	
}

.heading{
	width: 90%;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.7rem;
	margin: 0 auto;
	text-align: center;
	
}

.coords{
	font-size: 1.5rem;
	display: inline-block;
	float: left;
	position: relative;
	top: 40%;
	letter-spacing: .2rem;
	left: -11.5rem;
	margin: 0;
	transform: rotate(-90deg) translateX(-75%);
	color: #FFF;
}

.ellipse-container{
	width: 50rem;
	height: 50rem;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	top: 7.5rem;
}

.ellipse-container .greeting{
	position: relative;
	top: 19rem;
	left: 3rem;
	right: 0;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 8rem;
	font-weight: 400;
	opacity: 0.6;
	letter-spacing: 4rem;
	text-align: center;
	z-index: 10;
}

.ellipse-container .greeting:after{
	content: '';
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	display: inline-block;
	background-color: #808080;
	position: relative;
	top: -0.65rem;
	left: -5.05rem;
	
}

.ellipse{
	border-radius: 50%;
	position: absolute;
	top: -5;
	border-style: solid;
	
}

.ellipse__outer--thin{
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-color: rgba(128,128,128,.3);
	animation: ellipseOrbit 15s ease-in-out infinite;
	
}

.ellipse__outer--thin:after{
	content: '';
	background-image: url(compass-dial-ticks.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 145%;
	top: -5;
	left: -5;
	bottom: 0;
	right: 0;
	color: #000;
	position: absolute;
	opacity: .3;
	
}	

.ellipse__outer--thick{
	width: 100%;
	height: 100%;
	border-color: #FFF transparent;
	border-width: 2px;
	transform: rotate(-45deg);
	animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse__orbit{
	width: 3.5rem;
	height: 2.5rem;
	border-width: 10px;
	border-color: #09383E;
	top: 5rem;
	right: 6.75rem;
	position: absolute;
}

.ellipse__orbit:before{
	content: '';
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	display: inline-block;
	background-color: #09383E;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@keyframes ellipseRotate{
	0%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(-405deg);
	}
}

@keyframes ellipseOrbit{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}






























